* Step1. Connect to the bucket, get the needed files here

In [1]:
%%bash
#structure of my storage first 
gsutil ls gs://dsc_luo/fhir

gs://dsc_luo/fhir/
gs://dsc_luo/fhir/output1/
gs://dsc_luo/fhir/output10/
gs://dsc_luo/fhir/output11/
gs://dsc_luo/fhir/output12/
gs://dsc_luo/fhir/output2/
gs://dsc_luo/fhir/output3/
gs://dsc_luo/fhir/output4/
gs://dsc_luo/fhir/output5/
gs://dsc_luo/fhir/output6/
gs://dsc_luo/fhir/output7/
gs://dsc_luo/fhir/output8/
gs://dsc_luo/fhir/output9/

In [8]:
%%bash
gsutil ls gs://dsc_luo/fhir/output1

gs://dsc_luo/fhir/output1/
gs://dsc_luo/fhir/output1/allergies.csv
gs://dsc_luo/fhir/output1/careplans.csv
gs://dsc_luo/fhir/output1/conditions.csv
gs://dsc_luo/fhir/output1/encounters.csv
gs://dsc_luo/fhir/output1/immunizations.csv
gs://dsc_luo/fhir/output1/medications.csv
gs://dsc_luo/fhir/output1/observations.csv
gs://dsc_luo/fhir/output1/patients.csv
gs://dsc_luo/fhir/output1/procedures.csv

In [2]:
#transfer all files here   
!gsutil -m cp gs://dsc_luo/fhir/output1/encounters.csv encounters1.csv
!gsutil -m cp gs://dsc_luo/fhir/output2/encounters.csv encounters2.csv
!gsutil -m cp gs://dsc_luo/fhir/output3/encounters.csv encounters3.csv
!gsutil -m cp gs://dsc_luo/fhir/output4/encounters.csv encounters4.csv
!gsutil -m cp gs://dsc_luo/fhir/output5/encounters.csv encounters5.csv
!gsutil -m cp gs://dsc_luo/fhir/output6/encounters.csv encounters6.csv
!gsutil -m cp gs://dsc_luo/fhir/output7/encounters.csv encounters7.csv
!gsutil -m cp gs://dsc_luo/fhir/output8/encounters.csv encounters8.csv
!gsutil -m cp gs://dsc_luo/fhir/output9/encounters.csv encounters9.csv
!gsutil -m cp gs://dsc_luo/fhir/output10/encounters.csv encounters10.csv
!gsutil -m cp gs://dsc_luo/fhir/output11/encounters.csv encounters11.csv
!gsutil -m cp gs://dsc_luo/fhir/output12/encounters.csv encounters12.csv

Copying gs://dsc_luo/fhir/output1/encounters.csv...
\ [1/1 files][154.6 MiB/154.6 MiB] 100% Done
Operation completed over 1 objects/154.6 MiB.
Copying gs://dsc_luo/fhir/output2/encounters.csv...
\ [1/1 files][154.2 MiB/154.2 MiB] 100% Done
Operation completed over 1 objects/154.2 MiB.
Copying gs://dsc_luo/fhir/output3/encounters.csv...
\ [1/1 files][154.1 MiB/154.1 MiB] 100% Done
Operation completed over 1 objects/154.1 MiB.
Copying gs://dsc_luo/fhir/output4/encounters.csv...
\ [1/1 files][153.9 MiB/153.9 MiB] 100% Done
Operation completed over 1 objects/153.9 MiB.
Copying gs://dsc_luo/fhir/output5/encounters.csv...
\ [1/1 files][153.8 MiB/153.8 MiB] 100% Done
Operation completed over 1 objects/153.8 MiB.
Copying gs://dsc_luo/fhir/output6/encounters.csv...
\ [1/1 files][154.5 MiB/154.5 MiB] 100% Done
Operation completed over 1 objects/154.5 MiB.
Copying gs://dsc_luo/fhir/output7/encounters.csv...
\ [1/1 files][153.5 MiB/153.5 MiB] 100% Done
Operation completed over 1 objects/153.5 MiB.
Copying gs://dsc_luo/fhir/output8/encounters.csv...
| [1/1 files][153.6 MiB/153.6 MiB] 100% Done
Operation completed over 1 objects/153.6 MiB.
Copying gs://dsc_luo/fhir/output9/encounters.csv...
\ [1/1 files][154.2 MiB/154.2 MiB] 100% Done
Operation completed over 1 objects/154.2 MiB.
Copying gs://dsc_luo/fhir/output10/encounters.csv...
\ [1/1 files][154.3 MiB/154.3 MiB] 100% Done
Operation completed over 1 objects/154.3 MiB.
Copying gs://dsc_luo/fhir/output11/encounters.csv...
\ [1/1 files][153.3 MiB/153.3 MiB] 100% Done
Operation completed over 1 objects/153.3 MiB.
Copying gs://dsc_luo/fhir/output12/encounters.csv...
\ [1/1 files][153.7 MiB/153.7 MiB] 100% Done
Operation completed over 1 objects/153.7 MiB.

* Step2. Check and concatenate

In [2]:
!ls

encounters10.csv  encounters2.csv  encounters6.csv  hw2_pandas_grp1.ipynb
encounters11.csv  encounters3.csv  encounters7.csv
encounters12.csv  encounters4.csv  encounters8.csv
encounters1.csv   encounters5.csv  encounters9.csv

In [3]:
%%bash
#examine the file first
head -n 2 encounters1.csv #we need PATIENT (matching patients table ID) & DATE & CODE column,
head -n 2 encounters2.csv #first row, good, rest are good

ID,DATE,PATIENT,CODE,DESCRIPTION,REASONCODE,REASONDESCRIPTION
673daa98-67e9-4e80-be46-a0b547533653,2011-07-02,33f33990-ae8b-4be8-938f-e47ad473abfe,170258001,Outpatient Encounter,,
ID,DATE,PATIENT,CODE,DESCRIPTION,REASONCODE,REASONDESCRIPTION
d0ec6727-9463-44c2-9c52-b904949ff183,2013-12-02,d3ae0579-ac2c-48b0-a0c1-a858b63e3b99,170258001,Outpatient Encounter,,

In [21]:
%%bash 
cp encounters1.csv encounters_all.csv
tail -n +2 encounters2.csv >> encounters_all.csv
tail -n +2 encounters3.csv >> encounters_all.csv
tail -n +2 encounters4.csv >> encounters_all.csv
tail -n +2 encounters5.csv >> encounters_all.csv
tail -n +2 encounters6.csv >> encounters_all.csv
tail -n +2 encounters7.csv >> encounters_all.csv
tail -n +2 encounters8.csv >> encounters_all.csv
tail -n +2 encounters9.csv >> encounters_all.csv
tail -n +2 encounters10.csv >> encounters_all.csv
tail -n +2 encounters11.csv >> encounters_all.csv
tail -n +2 encounters12.csv >> encounters_all.csv

* Step3. slice columns of PATIENT, DATE and CODE in encounters.csv file and columns in patients.csv

In [22]:
%%bash
#how many lines are there
wc -l encounters_all.csv # 1,595,051 lines/records in patients.csv vs 15,109,428 records here

15109428 encounters_all.csv

In [2]:
%%bash
#cut multiple columns ID to code
cat encounters_all.csv | cut -d "," -f 1-4 |sed '/^#/d' > encounters_all_datecode.csv  #column from ID to 
head -n 3 encounters_all_datecode.csv

ID,DATE,PATIENT,CODE
673daa98-67e9-4e80-be46-a0b547533653,2011-07-02,33f33990-ae8b-4be8-938f-e47ad473abfe,170258001
bac018de-114a-481d-b4f9-87980d7ef8b8,2011-03-12,36d131ee-dd5b-4acb-acbe-19961c32c099,170258001

In [4]:
%%bash
#cut multiple columns ID to code
head -n 5 ../hw1_largeText_grp1/patients_all.csv
cat ../hw1_largeText_grp1/patients_all.csv | cut -d "," -f 1-15 |sed '/^#/d' > patients_all_needed.csv  #column from ID to 
head -n 3 patients_all_needed.csv

ID,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,MAIDEN,MARITAL,RACE,ETHNICITY,GENDER,BIRTHPLACE,ADDRESS
33f33990-ae8b-4be8-938f-e47ad473abfe,1995-04-05,36d131ee-dd5b-4acb-acbe-19961c32c099,1997-05-18,,,999-84-9382999-69-7030,S99923464,false,Mr.,Nash950,Raynor678,,,,white,italian,M,Boston MA US,,S99943248,X93787069X,Mr.,Jennings258,Mertz249,,,,white,polish,M,Danvers MA US,526 Herzog Parkways Eastham MA 02642 US
64066 Johns Bridge Suite 317 Eastham MA 02642 US
660bec03-9e58-47f2-98b9-2f1c564f3838,1996-07-26,,999-70-3315,S99945940,false,Ms.,Geovany567,Reichert456,,,,white,irish,F,Fitchburg MA US,20810 Bart Inlet Eastham MA 02642 US
5125d2b2-3aef-4ae2-aa5c-335f7e206b92,1996-09-24,,999-89-6289,S99991246,false,Ms.,Tianna156,Kuphal267,,,,white,french_canadian,F,Westborough MA US,295 Walter Mill Dennis MA 02638 US
ID,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,MAIDEN,MARITAL,RACE,ETHNICITY,GENDER
33f33990-ae8b-4be8-938f-e47ad473abfe,1995-04-05,36d131ee-dd5b-4acb-acbe-19961c32c099,1997-05-18,,,999-84-9382999-69-7030,S99923464,false,Mr.,Nash950,Raynor678,,,
64066 Johns Bridge Suite 317 Eastham MA 02642 US

* step4. using pandas to group the records per patient, and match the results with patients.csv

In [1]:
import pandas as pd
df = pd.read_csv('encounters_all_datecode.csv')
display(df.head())
print(df.shape) #(15109427, 4)
print(df['PATIENT'].nunique()) #1,424,253, this is the patient identifer

,ID,DATE,PATIENT,CODE
0,673daa98-67e9-4e80-be46-a0b547533653,2011-07-02,33f33990-ae8b-4be8-938f-e47ad473abfe,170258001
1,bac018de-114a-481d-b4f9-87980d7ef8b8,2011-03-12,36d131ee-dd5b-4acb-acbe-19961c32c099,170258001
2,be0aa510-645e-421b-ad21-8a1ab442ca48,2012-06-17,33f33990-ae8b-4be8-938f-e47ad473abfe,170258001
3,ff93cedb-8245-4091-838d-a568bcbcb00b,2011-05-15,36d131ee-dd5b-4acb-acbe-19961c32c099,185345009
4,296a1fd4-56de-451c-a5fe-b50f9a18472d,2012-03-26,36d131ee-dd5b-4acb-acbe-19961c32c099,170258001

(15109427, 4)
1424253

In [2]:
#grouped_by 'PATIENT', get the counts, and lists for 'DATE' and 'CODE'

df_grouped = df.groupby("PATIENT").agg(**{"enc_counts": pd.NamedAgg(column='DATE', aggfunc="count"),
                          "Enc_DATE": pd.NamedAgg(column='DATE', aggfunc=lambda x:x.to_list()),
                          "enc_code_counts": pd.NamedAgg(column='CODE', aggfunc="count"),                
                          "Enc_CODE": pd.NamedAgg(column='CODE', aggfunc=lambda x:x.to_list())}).reset_index()
print(df_grouped.shape)
display(df_grouped.head()) #enc_counts from DATE and enc_code_counts from CODE match 
display(df_grouped['enc_counts'].describe()) #min 1, max 147, mean 1

(1424253, 5)

,PATIENT,enc_counts,Enc_DATE,enc_code_counts,Enc_CODE
0,00000579-4471-4e83-9084-6234196c2ba5,6,"[2010-08-27, 2012-02-18, 2012-02-27, 2013-12-0...",6,"[185349003, 698314001, 305408004, 185349003, 1..."
1,00000ab0-643a-475c-99ba-02c66fe6ab57,3,"[2010-12-01, 2011-11-09, 2015-01-16]",3,"[185345009, 185349003, 185349003]"
2,000011c5-810b-498a-9213-7c7c6d29cf63,9,"[2010-08-19, 2011-10-20, 2012-11-17, 2013-10-2...",9,"[185349003, 185349003, 185349003, 185349003, 1..."
3,00004593-7847-4654-8e32-e3548fdb8e50,10,"[2010-08-25, 2011-05-05, 2011-09-16, 2012-05-0...",10,"[185349003, 185345009, 185345009, 185349003, 1..."
4,00004593-87ae-40ac-bfec-7e2dd37b690f,10,"[2011-07-08, 2011-08-14, 2011-10-24, 2012-04-1...",10,"[185345009, 185349003, 185345009, 185345009, 3..."

count    1.424253e+06
mean     1.060867e+01
std      9.598487e+00
min      1.000000e+00
25%      5.000000e+00
50%      9.000000e+00
75%      1.200000e+01
max      1.470000e+02
Name: enc_counts, dtype: float64

In [3]:
df_patients = pd.read_csv('patients_all_needed.csv')

In [4]:
#match and sort
merged_pt_enc = pd.merge(left=df_patients, right = df_grouped, how = 'left', left_on = 'ID', right_on ='PATIENT')
merged_pt_enc.sort_values(by='enc_counts', inplace = True, na_position='first') #no vists patients at the very beginning
cols_kept = ['ID','BIRTHDATE','DEATHDATE','SSN','DRIVERS','PASSPORT','PREFIX','FIRST','LAST','SUFFIX','MAIDEN','MARITAL','RACE','ETHNICITY','GENDER','Enc_DATE', 'Enc_CODE']
merged_final = merged_pt_enc[cols_kept]
display(merged_final.head(2)) #very beginnging are patients with no visits recorded
display(merged_final.tail(2)) #very end are patients with lots of encounters
print(merged_final.shape) #1,594,711 * 17

,ID,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,MAIDEN,MARITAL,RACE,ETHNICITY,GENDER,Enc_DATE,Enc_CODE
1,64066 Johns Bridge Suite 317 Eastham MA 02642 US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4c763cac-b1df-4bcc-b89c-834942c4d3d6,1946-03-05,1967-01-10,999-52-5432,S99989461,false,Ms.,Demarco886,Osinski65,NaN,NaN,NaN,white,irish,F,NaN,NaN

,ID,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,MAIDEN,MARITAL,RACE,ETHNICITY,GENDER,Enc_DATE,Enc_CODE
710946,c74586f6-16c1-4972-ace1-c46005c9a5d3,1998-07-02,NaN,999-63-6767,S99972748,NaN,Mr.,Beverly485,Rohan75,NaN,NaN,NaN,white,irish,M,"[2010-05-29, 2010-07-01, 2010-07-03, 2010-08-0...","[185347001, 185347001, 394701000, 185347001, 1..."
1573861,58792e4a-e012-4fec-a6ed-081b9cc073ce,2000-03-01,NaN,999-95-3571,S99990457,NaN,NaN,Brooks268,Kshlerin253,NaN,NaN,NaN,hispanic,central_american,F,"[2010-06-01, 2010-07-13, 2010-07-31, 2010-08-1...","[185347001, 185347001, 170258001, 185347001, 1..."

(1594711, 17)

We can see that the length of encounter lists varies from zero (in the very begging of the dataframe) to 147 (at the very end of the dataframe) for patients.

In [5]:
#total na counts
merged_pt_enc["enc_code_counts"].isna().sum()

172312